.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.imagenesdesplegables{
    background: black;
}

.contenido{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #15b5ff;
    font-size: 20px;
}

.txto{
    color: black;
    font-size: 23px;
    background: #84d8ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}